
@{
    ViewData["Title"] = "UpdateExperince";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Burası Güncelleme Sayfası</h1>

<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="ExperinceTitle" value="abdullah"/> 
    <label>Derece</label>
    <input type="text" class="form-control" name="ExperinceLevel" value="85"/> 
    <button type="submit" class="btn btn-success">Güncelle</button>
</form>